{% extends "layoutplain.html" %}

{% block title %}
DentAssist - Capture Front Teeth
{% endblock %}

{% block body %}

<div class="col-4">
  <div class="left-small-content">
    <br>
    <br>
    <br>

    <br />
    <br>
    <br>
    <br>

    <h2 style="color:white"><strong>VIDEO PREVIEW.</strong></h2>

    <br>
    <br>
    <br>
    <br>
    <br>
    <img src="{{ url_for('static', filename='loadingvideo.png') }}" height="75" width="75">
    <br>
    <br>
    <br>
    <br>
    <br>

    <p style="color:white">If connected, DentAssist preview <br />will appear here with button press. </p>
    <br>
    <br>


    <br>
    <br>

  </div>
</div>

<div class="col-8">
  <br>
  <br>
  <br />

  <img src="{{ url_for('static', filename='Step2_FrontSq.png') }}" height="225" width="225">
  <br>
  <br>

  <h2><strong>STEP TWO: CAPTURE FRONT TEETH.</strong></h2>
  <br>

  <p>
    1. <span class="emphasis">Position</span> device in front of teeth.<br />
    2. Align camera to center of <span class="emphasis">top</span> and <br />
          <span class="emphasis">bottom teeth</span>, and <span class="emphasis">left</span> and <span class="emphasis">right</span> side.<br />
    3. <span class="emphasis">Click</span> button.<br />
  </p>
  <br>

  <form autocomplete="off" class="white_form" action="{{ url_for('assessment_back') }}" method="post">
      <button><span>Ready to capture!</span></button>
  </form>



  <br>
  <br>
  <br>

</div>


{% endblock %}
