<!DOCTYPE html>

<html>

    <head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon-32x32.png') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- The title of the html page is placed within the title block -->
        <title>DentAssist - Assessment Complete</title>

        <!-- Here we import bootstrap's formatting - essentially makes it look nice! -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

        <!-- On top of bootstrap's formatting, we can create our own css stylesheet to format extra things -->
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/stylesheet.css') }}">

				<meta http-equiv="refresh" content="3;menu_return">

    </head>

    <body>

      <nav class="navbar navbar-default fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="main-nav-item" href="{{ url_for('mainpage') }}"><img src="{{ url_for('static', filename='DentAssist_White.png') }}" height="30" width="30"><strong>DENTASSIST</strong></a>
        </div>
        <ul class="nav navbar-right">
      <!--                      <li> | </li> -->
          <li><a class="main-nav-item" href="{{ url_for('about') }}"> ABOUT </a></li>
          <li><a class="main-nav-item" href="{{ url_for('team') }}"> MEET THE TEAM </a></li>
         </ul>
      </div>
      </nav>

        <!-- Centering the body of the page -->
        <div class="container">
            <div class="row justify-content-md-center">
              <br>
              <br>
              <br>
              <br>
							<br />
							<br />
            </div>

            <div class="row justify-content-md-center">
              <img src="{{ url_for('static', filename='complete.png') }}" height="130" width="130">
            </div>

            <div class="row justify-content-md-center">



						<div class="col-12">
							<br />

							<h1>Student Assessment <br />Complete!</h1>

							<br>

							<p>
								 You will be <span class="emphasis">redirected</span> shortly to the <span class="emphasis">main menu,</span> <br />where you can <span class="emphasis">browse detection results.</span>
								</p>

							<br>
							<br>
						</div>

						</div>

						<div class="row justify-content-md-center">
							<br>
							<br>
							<br>
							<br>
							<br>
						</div>

				</div>

	</body>

</html>
