{% extends "layoutplain.html" %}

{% block title %}
DentAssist - View or Start an Assessment
{% endblock %}

{% block body %}

<div class="col-6">
  <div class="left-content">
    <br>
    <br>
    <br>
    <br>
    <br>


    <img src="{{ url_for('static', filename='view_assessment.png') }}" height="200" width="200">
    <br />


    <h2 style="color:white"><strong>VIEW AN ASSESSMENT.</strong></h2>
    <br>

    <p style="color:white">Browse through detection results for individual <br>students and schools from past assessments. </p>

    <br>
    <br>
    <form autocomplete="off" action="{{ url_for('view_results') }}" method="post">
        <button class="inverse-btn"><span>GO</span></button>
    </form>
    <br>

  </div>
</div>

<div class="col-6">
  <br>
  <br>
  <br>
  <br>
  <br>

  <img src="{{ url_for('static', filename='start_assessment.png') }}" height="200" width="200">
  <br />

  <h2><strong>START AN ASSESSMENT.</strong></h2>
  <br>

  <p>Perform a new student assessment, <br>with a visual walkthrough of the procedure.</p>

  <br>
  <br>

  <form autocomplete="off" action="{{ url_for('assessment_start') }}" method="post">
      <button><span>GO</span></button>
  </form>
  <br>

</div>

{% endblock %}
