{% extends "layout.html" %}

{% block title %}
DentAssist - Registration
{% endblock %}

{% block body %}


<h1>To join our DentAssist database, please fill in the following information.</h1>

<br>

<form autocomplete="off" action="{{ url_for('mainpage_newregister') }}" method="post">
	<input type="text" name="firstname" placeholder="First Name"> <br>
    <input type="text" name="lastname" placeholder="Last Name">  <br><br>
    <input type="text" name="email" placeholder="Email Address">  <br>
    <input type="Password" name="pass" placeholder="Password">  <br><br>
    <button><span>Register</span></button>
</form>

<br>
<br>


{% endblock %}