{% extends "layout_nologo.html" %}

{% block style %}

	.cont1 {
		position: relative;
		width: 100%;
	}

	.image1 {
		display: block;
		width: 100%;
		height: auto;
	}
	
	.middle1 {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: .5s ease;
		background-color: #78A1BB;
	}
	
	.cont1:hover .middle1{
		opacity: 1;
	}
	
	.text {
		color: white;
		font-size: 14px;
		position: relative;
		top: 50%;
		left: 50%;
		width: 95%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		text-align: center;
	}

{% endblock %}

{% block title %}
DentAssist - About
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
  <div class="col-12">
      <h1>Our Team</h1>
	  <h5>With a perfect blend of creativity and teachnical skills, we're a team of dedicated undergraduate engineering students. Stick around and get to know us! </h5>
		<br>
	</div>
  </div>
  
  <div class="row">
  
    <div class="col-4">
		<div class="cont1">
			<img src="{{ url_for('static', filename='sehaz_dayal_team.png') }}" class="image1" alt="Responsive image">
			<div class="middle1">
			<div class="text"><b>Sehaz Dayal</b> <br> <br> The development of efficient biomedical solutions combined with the use of creativity to use existing ideas for different and unique purposes is something that is of great interest to me. I hope to one day use this mindset and my passion for the space industry to contribute to essential research and innovations in the area of long-term human spaceflight. The importance of space exploration continues to grow as does its ability to push the limits of science and technology not only for the purpose of space exploration but everyday life on Earth as well. It is an exciting time to be an engineer!</div>
			</div>
		</div>
    </div>
	
	<div class="col-4">
		<div class="cont1">
			<img src="{{ url_for('static', filename='jessica_trac_team.png') }}" class="image1" alt="Responsive image">
			<div class="middle1">
			<div class="text"><b>Jessica Trac</b> <br> <br> I love to explore creative avenues - from artistic endeavours to engineering projects! In particular, I am fascinated by technology projects in the healthcare space. I aspire to pursue a career in medicine, where I can make a direct impact on patients and collaborate on medical innovations. With the medical devices industry taking off, I would like to advocate for patients to ensure that their safety, values and needs are considered in the development process!</div>
			</div>
		</div>
    </div>
	
	<div class="col-4">
		<div class="cont1">
			<img src="{{ url_for('static', filename='ama_simons_team.png') }}" class="image1" alt="Responsive image">
			<div class="middle1">
			<div class="text"><b>Ama Simons</b> <br> <br> I am a final year undergraduate electrical and biomedical student who loves learning and trying new things! My main priority in life is to my use engineering education and interpersonal skills to design biomedical devices that satisfy patient needs. In my free time, I develop my communication skills through my role as Vice President of Communications for the BioEngineering at McMaster Society. In the future I hope to work alongside clinicians to accelerate the healing of individuals who are ill!</div>
			</div>
		</div>
    </div>

  </div>
  
</div>

{% endblock %}
