.container {
    text-align:center;
}


.left-content {
  background-color: #78A1BB;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 50%;
  height: 100%;
}

.left-small-content {
  background-color: #78A1BB;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 33%;
  height: 100%;
}

.right-content {
  position: relative;
}

body {
  background-color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6, p {
	color: #78A1BB;
  text-align: center;
}

a {
    color: #78A1BB;
}

.left-content a:hover{
    color: #78A1BB;
    background-color:#FFFFFF;
}

.left-content a{
    color: #FFFFFF;
}


a:hover {
	color: #FFFFFF;
	text-decoration: none;
  background-color: #78A1BB;
}

.italics_emphasis {
  font-style: italic;
}

/* main nav bar*/

.navbar-default a.main-nav-item {
  color: #FFFFFF;
 }

.navbar-default a.main-nav-item:hover {
  color: #6A6A6A;
 }

 .navbar-default {
   background-color: #78A1BB;
   font-size: 20px;
   padding: 13px;
   font-size: 17px;
   margin:0 auto;
   display: block;
 }

 /* inverted nav bar*/

 .navbar-plain {
   font-size: 20px;
   padding: 13px;
   font-size: 17px;
   margin:0 auto;
   display: block;
 }

 .navbar-plain a.main-nav-header {
   color: #FFFFFF;
  }

 .navbar-right > li {
     display: inline-block;
     text-align: right !important;
     padding-left:10px;
     padding-right:10px;
     color: #FFFFFF;
 }

.white_form input[type=text], input[type=password]{
    border: none;
    border-bottom: 2px solid #78A1BB;
    outline: none;
    color: #78A1BB;
    background-color: white;
}

.blue_form input[type=text] {
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  color: white;
  background-color: #78A1BB;
}

button, label {
  display: inline-block;
  border-radius: 4px;
  background-color: #78A1BB;
  border: none;
  color: #FFFFFF;
  text-align: center;
  padding: 5px;
  width: 170px;
  transition: all 0.5s;
  cursor: pointer;
}

.inverse-btn {
  display: inline-block;
  border-radius: 4px;
  background-color: #FFFFFF;
  border: none;
  color: #78A1BB;
  text-align: center;
  padding: 5px;
  width: 170px;
  transition: all 0.5s;
  cursor: pointer;
}

button span, label span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after, label span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span, label:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}

label:hover span:after {
  opacity: 1;
  right: 0;
}

i {
  padding-left:5px;
  padding-right:5px;
}

.emphasis {
  color: #78A1BB;
  font-weight: bold;
 }

.emphasis-invert {
  color: #FFFFFF;
  font-weight: bold;
 }

::placeholder { /* Most modern browsers support this now. */
   color: #C0C0C0;
}

.blue_form ::placeholder { /* Most modern browsers support this now. */
   color: #bbd0dd
}

.aboutbackground {
	background-color:white;
}

.aboutbackground2{
	background-color:#78A1BB;
	}

.img {
max-width: 100%;
height:auto;
width:auto;
}

.imgDevice{
max-width:100%;
max-height:100%;
height:auto;
width:auto;
padding-left: 250px;
padding-right: 250px;
}

